In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.interactive(True)

In [15]:
df = pd.read_csv('/home/olga/Projects/ML_MIT/project1_sentiment_analysis/reviews_test.tsv', 
                   sep='\t',
                   encoding='iso-8859-1')
df.head(5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sentiment</th>
      <th>productId</th>
      <th>userId</th>
      <th>summary</th>
      <th>text</th>
      <th>helpfulY</th>
      <th>helpfulN</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>B000SDKDM4</td>
      <td>A1NE47S8ZJPLR3</td>
      <td>Smooth coffee</td>
      <td>My built-in Bosch coffee machine has trouble g...</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>B000MS6CK2</td>
      <td>A1GV419L0C3AJY</td>
      <td>awesome</td>
      <td>An absolute "must have" item for your Bloody M...</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>B0030F70LO</td>
      <td>A8EJ2H1P3ELL3</td>
      <td>Great treat for bigger dogs</td>
      <td>I have a Great Dane &amp; most treats are gone in ...</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-1</td>
      <td>B001EO6GJK</td>
      <td>A34R5COY8PP3LE</td>
      <td>Disappointing - more like candy than fruit</td>
      <td>I got turned on to dried mangoes from the ones...</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>B004SRH2B6</td>
      <td>A23H9F74EMOXEF</td>
      <td>Good Product !</td>
      <td>I enjoyed the product, good taste, good qualit...</td>
      <td>0</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
print("hello world")

hello world

In [6]:
df.axes

[RangeIndex(start=0, stop=500, step=1),
 Index(['sentiment', 'productId', 'userId', 'summary', 'text', 'helpfulY',
        'helpfulN'],
       dtype='object')]

In [8]:
df.head(5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>sentiment</th>
      <th>productId</th>
      <th>userId</th>
      <th>summary</th>
      <th>text</th>
      <th>helpfulY</th>
      <th>helpfulN</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>B000SDKDM4</td>
      <td>A1NE47S8ZJPLR3</td>
      <td>Smooth coffee</td>
      <td>My built-in Bosch coffee machine has trouble g...</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>B000MS6CK2</td>
      <td>A1GV419L0C3AJY</td>
      <td>awesome</td>
      <td>An absolute "must have" item for your Bloody M...</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>B0030F70LO</td>
      <td>A8EJ2H1P3ELL3</td>
      <td>Great treat for bigger dogs</td>
      <td>I have a Great Dane &amp; most treats are gone in ...</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>-1</td>
      <td>B001EO6GJK</td>
      <td>A34R5COY8PP3LE</td>
      <td>Disappointing - more like candy than fruit</td>
      <td>I got turned on to dried mangoes from the ones...</td>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>B004SRH2B6</td>
      <td>A23H9F74EMOXEF</td>
      <td>Good Product !</td>
      <td>I enjoyed the product, good taste, good qualit...</td>
      <td>0</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

[out 6]:  sentiment   productId  ... helpfulY helpfulN
0          1  B000SDKDM4  ...        0        0
1          1  B000MS6CK2  ...        0        0
2          1  B0030F70LO  ...        2        1
3         -1  B001EO6GJK  ...        0        1
4          1  B004SRH2B6  ...        0        1
[5 rows x 7 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
sentiment    500 non-null int64
productId    500 non-null object
userId       500 non-null object
summary      500 non-null object
text         500 non-null object
helpfulY     500 non-null int64
helpfulN     500 non-null int64
dtypes: int64(3), object(4)
memory usage: 27.4+ KB

In [9]:
ds1 = pd.Series([len(txt.split()) for txt in df['text']])
ds1.rename_axis('words')

ds1.head(5)

0    110
1     42
2     43
3     42
4     36
dtype: int64

In [10]:
ds1.mean()

83.142

In [11]:
ds1.median()

60.5

In [13]:
ds1.plot()
plt.savefig('ds1.png')

In [14]:
ds2 = df['sentiment']
ds2.head(4)

0    1
1    1
2    1
3   -1
Name: sentiment, dtype: int64

In [35]:
df1 = pd.DataFrame([ds2, ds1])
df1.transpose()
df1.axes

[Index(['sentiment', 'Unnamed 0'], dtype='object'),
 RangeIndex(start=0, stop=500, step=1)]

In [36]:
plt.rcParams.update({'font.size': 20, 'figure.figsize': (10, 8)}) 
# df1.plot(kind='scatter', x='sentiment', y='words quantity', title='Sentiment vs text len');
df1.plot()
# plt.show()

/home/olga/pycharm-2018.3.5/helpers/pycharm_matplotlib_backend/backend_interagg.py:62: UserWarning: Tight layout not applied. The bottom and top margins cannot be made large enough to accommodate all axes decorations.
  self.figure.tight_layout()